target/
*.log
*.iml
.idea/
.DS_Store

# Additional Maven files that can be generated
dependency-reduced-pom.xml
pom.xml.versionsBackup
release.properties

# VS Code
.vscode/

# Temporary files
*.tmp
*.swp
*~
# Built application files
*.jar
*.war
*.ear
# Docker files
docker-compose.override.yaml
docker-compose.dev.yaml
.env
# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
override.tfvars
override.tfvars.json
*_override.tfvars
*_override.tfvars.json