version: '3.8'
services:
  my-app:
    image: ghcr.io/elorm116/my-app:v2
    ports:
      - "3000:80"  # Changed to match port 3000 from Jenkinsfile
  postgresql:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"