version: '3.8'
services:
  my-app:
    image: nginx:alpine
    ports:
      - "8080:80"
  postgresql:  # Fixed the typo
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"