[defaults]
inventory = inventory_aws_ec2.yaml
host_key_checking = False
remote_user = ec2-user
# Use the full path for the private key here so you don't need the hosts file
private_key_file = ~/mydevops.pem

[inventory]
enable_plugins = aws_ec2