[defaults]
inventory = inventory_aws_ec2.yaml
host_key_checking = False
remote_user = ec2-user
# Using the specific path defined in your Jenkins environment
private_key_file = /root/ansible_deploy/mydevops.pem

[inventory]
# This is crucial for the plugin to work
enable_plugins = aws_ec2, host_list, script, auto, yaml, ini

[ssh_connection]
# Optimizes performance by reducing the number of SSH connections
pipelining = True